@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(243, 227, 208);
}
html {
    background-color: rgb(112, 24, 36);
    width: 100%;
    height: 100%;
}
.bar{
    background-color: #0000001F;
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bar > h1 {
    font-size: 49px;
    text-align: center;
}
.react-content {
    padding: 5vw;
    height:100%;
    display: flex;
    justify-content: center;
}
.list-container {
    position: relative;
    border-radius: 20px;
    padding: 2em;
    background-color: #0000001F;
    max-height: 30em;
    overflow-y: auto;
}
.add {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    border-radius: 800px;
    background-color: #FFFFFF29;
    width: 1.5em;
    height: 1.5em;
    border: none;
    cursor: pointer;
    border: solid #00000000 4px;
}
.add:hover {
    background-color: #da6758d5;
    transition: 200ms;
    border: solid #ffe6e3d5 4px;
}
#userText {
    width: 240px;
    height: 40px;
    border: none;
    margin: 20px;
    background-color: #0000003F;
    text-align: center;
    font-size: 24px;
    border-radius: 15px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    text-align: center;
    margin: 20px;
    padding:20px;
    border-radius: 20px;
    background-color: #0000001F;
    cursor: pointer;
    user-select: none;
    border: solid #00000000 4px;
    max-width: 300px;
    animation: top-down 400ms ease-out;
}
@keyframes top-down {
    0% {
        transform: translateX(10%);
        opacity: 0%;
    }
    100% {
        transform: translateX(0%);
    }
}
li:hover {
    background-color: #da6758d5;
    transition: 200ms;
    border: solid #ffe6e3d5 4px;
}

.user-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: #2f9ac4d5;
}
.selected:hover {
    background-color: #239ecfe3;
    border: solid #ffe6e3d5 4px;
}

button {
    background-color: #0000001F;
    padding: 10px;
    width: 40px;
    height: 40px;
    border: #00000000;
    border-radius: 200px;
    font-size: 18px;
}
button:hover {
    background-color: #fa2323c9;
    transition: 200ms;
}

.clear {
    width: 100px;
    height: 100px;
}
footer {
    width: 100vw;
    position: absolute;
    bottom: 10px;
    text-align: center;
  }
@media only screen and (max-width: 600px) {
    .bar > h1 {
        font-size: 48px;
    }
    .bar > h2 {
        font-size: 16px;
    }
    li {
        font-size: 1em;
    }
    #userText {
        width: 8em;
        font-size: 1em;
        padding: 0px;
    }
    .add {
        width: 1em;
        height: 1em;
    }
    .clear {
        width: 4em;
        height: 4em;
    }

  }

  @media only screen and (max-width: 800px) {
    .bar {
        flex-direction: column;
    }
  }
